
<ion-header color="primary">

  <ion-navbar color="primary">
    <ion-title>profil</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-fab top right edge color="secondary">
    <button ion-fab  (tap)="refresh()" color="light"><ion-icon name="ribbon" ></ion-icon></button>
    <!-- <ion-img width="80" height="80" src="../../assets/imgs/cocktail.png"></ion-img> -->
    <!-- <button ion-fab  (tap)="refresh()" color="light" ><ion-icon  ></ion-icon></button>  -->
  </ion-fab>

  <ion-card>
  <ion-item>

    <h2>{{fields.Prenom}} {{fields.Nom}}</h2>
    <p>{{fields.BTS}}</p>



  <ion-card-content>
    <p>id : {{fields.id}} </p>
  </ion-card-content>
  <ion-col center text-center>
      <ion-icon name="wine"></ion-icon> Nombre de Boisson : {{fields.Boisson}}
  </ion-col>
  <ion-row>
    <ion-col>
      <button ion-button icon-left  small (tap)="UpDrink()">
        <ion-icon name="add-circle"></ion-icon>
        <div>Up </div>
      </button>
    </ion-col>
    <ion-col>
      <button ion-button icon-left  small (tap)="DownDrink()" *ngIf="fields.Boisson > 0 " >
        <ion-icon name="remove-circle"></ion-icon>
        <div> Down</div>
      </button>
      <button ion-button icon-left  small color="danger" (tap)="errorBoison()" *ngIf="fields.Boisson <= 0 "  >
        <ion-icon name="close-circle"></ion-icon>
        <div> Quota Indisponible</div>
      </button>
    </ion-col>

      <button ion-button icon-start outline (tap)="SavePrence()" *ngIf="fields.Valide === 'False'">
        <ion-icon name="star"></ion-icon>
        Enregistrer sa présence
      </button>
<!-- clear; thumbs-up; -->

      <button ion-button icon-start outline color ="secondary"  (tap)="UnSavePrence()" *ngIf="fields.Valide === 'True'" >
        <ion-icon name="checkmark-circle"></ion-icon>
        Visiteur Enregistrer !!
      </button>


  </ion-row>
</ion-item>
</ion-card>

<br><br>

<ion-card>


<ion-list>
  <ion-item>
    <ion-label>Vestiaire : </ion-label>
    <ion-select [(ngModel)]="Vestiaire" multiple="true" cancelText="Nah" okText="Valider!" ionCancel="saveVestiaire()" >
      <ion-option value="Veste" >Veste</ion-option>
      <ion-option value="Sac">Sac</ion-option>
      <ion-option value="Chapeau" >Chapeau</ion-option>
      <ion-option value="Echarpe">Echarpe</ion-option>
      <ion-option value="Accessoire">Accessoire</ion-option>
      <ion-option value="Parapluie">Parapluie</ion-option>
      <!-- <ion-option value="Autres">Autres..</ion-option> -->
    </ion-select>
  </ion-item>
</ion-list>
<p>{{Vestiaire}}</p>
<button ion-button icon-left  small (tap)="saveVestiaire()">
  <ion-icon name="shirt"></ion-icon>
  <div> Valider</div>
</button>
</ion-card>
</ion-content>

<!-- *ngIf="fields.Boisson == 'False'" -->
