<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Bal de Promo
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <!-- refresh -->
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <!-- fin refresh -->
  <ion-fab top right edge color="secondary">
    <button ion-fab  (tap)="refresh()" color="light"><ion-icon name="ribbon" ></ion-icon></button>
  </ion-fab>
  bienvenu sur L'Appli de Bal de Promo
  <p>
    <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
  </p>


  <ion-list>
    <ion-item-sliding *ngFor="let item of items; " >
      <ion-item  (tap)="goToOtherPage(item)">
        {{ item }}
        <!-- <ion-icon   item-end color= "secondary" name="checkmark-circle"></ion-icon> -->
        <!-- *ngIf="fields.Valide === 'False'" -->
      </ion-item>
      <ion-item-options side="left">
        <button ion-button color="secondary" (tap)="SavePrence(item)">Save</button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <!-- Ancienne version -->
  <!-- <ion-item *ngFor="let item of items; "  (click)="goToOtherPage(item)">
      {{ item }}
  </ion-item> -->
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title><p>{{VisiteurPresent}}/{{VisiteurInscrit}}  Présent</p></ion-title>
  </ion-toolbar>
</ion-footer>

<!--   bottom right   -->
